/* Vaughn-Rose Turner
    March 22, 2024 */

/* Color Palette 

Raspberry - #D50B4B
Caribbean Current - #106D7A
Caput Mortuum - #5F1F12
Rich Black - #071E22
Ivory - #FFFFEB

*/

/* Google Font Style CSS 

.saira-<uniquifier> {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.galada-regular {
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
}

*/


*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: url(../images/pexels-steve-johnson-1328488.jpg) no-repeat fixed;
    background-size: cover;
    margin: 0;
}


/* NAVIGATION BAR */

.hamburger-menu {
    background-color: #071E22;
    padding: 15px 5px;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.hamburger-icon {
    display: block;
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 1001;
}

nav {
    display: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "Saira", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: right;
    color: #FFFFEB;
}

nav ul li a:hover {
    background-color: #D50B4B;
}

#navbar-toggle {
    display: none;
}

#navbar-toggle:checked ~ nav {
    display: block;
}


/* INFORMATION SECTION */

#info-style {
    grid-row: 2 span;
    background-color: rgb(16 109 122/ 0.9);
    border: 3px solid #D50B4B;
}

#info-style h1 {
    font-family: "Galada", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #D50B4B;
    text-shadow: 2px 1px 2px #071E22;
    margin-top: 8px;
    margin-bottom: 0;
    text-align: center;
}

#info-style h2 {
    font-size: 25px;
    color: #D50B4B;
    text-shadow: 1px 1px 1px #071E22;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}

#info-style p {
    font-size: 18px;
    color: #FFFFEB;
    margin: 0;
    padding: 0 14px;
    text-align: justify;
}

#info-style h2, p {
    font-family: "Saira", sans-serif;
    font-weight: 600;
    font-style: normal;
}


/* GRID/PORTFOLIO IMAGES */

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 14px;
    padding: 0 14px;
}

.item1 {
    grid-column: 3;
    grid-row: 1;
    border: solid 5px #FFFFEB;
}

.item2 {
    grid-column: 3;
    grid-row: 2;
    border: solid 5px #FFFFEB;
}

.item3 {
    border: solid 5px #FFFFEB;
}

.item4 {
    grid-column: 2;
    grid-row: 2;
    border: solid 5px #FFFFEB;
}

.item5 {
    grid-column: 4;
    grid-row: 1;
    border: solid 5px #FFFFEB;
}

.item6 {
    border: solid 5px #FFFFEB;
}

.grid-item:hover {
    transform: scale(1.1);
}


/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    background-color: #5F1F12;
}

#footer-style h2 {
    font-family: "Saira", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #FFFFEB;
    margin: 20px 10px 0 10px;
    padding: 0 20px;
}

.socials {
    list-style-type: none;
    padding: 0 20px;
    margin: 15px;
}

.socials li {
    display: inline-block;
    margin: 5px;
}

.socials img {
    width: 32px;
}

.socials img:hover {
    opacity: 0.4;
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    #info-style {
        grid-row: auto;
        grid-column: 2 span;
    }
    .item1 {
        grid-column: 1;
        grid-row: 3;
    }
    .item2 {
        grid-column: 2;
        grid-row: 3;
    }
    .item5 {
        grid-column: 1;
        grid-row: 4;
    }
    .item6 {
        grid-column: 2;
        grid-row: 4;
    }
    #info-style h1 {
        font-size: 20px;
    }
    #info-style h2 {
        font-size: 16px;
    }
    #info-style p {
        font-size: 12px;
    }
    #footer-style h2 {
        font-size: 16px;
    }
    .socials li {
        margin: 2px;
    }
    .socials img {
        width: 15px;
    }
}
@media screen and (min-width: 770px) {
    .hamburger-icon {
        display: none;
    }
    nav {
        display: block;
        position: relative;
    }
    nav ul li {
        display: inline-block;
    }
}
